.DS_Store
*.mat
tags
exp/bbob/output
paper/ppdata
*.aux
*.bbl
*.blg
*.dvi
*.log
*.aut
*.nav
*.out
*.snm
*.toc
*.tgz
outcmaes*
exp/experiments/*/
log/*/
exp/bbob/bbob_exp_tomlab_*
exp/bbob/bbob_exp_gpeda_*
exp/bbob/bbob_exp_bajego_*
exp/bbob/bbob_exp_cmaes_*
